/*Home*/
.home {
display: flex; 
flex-direction: column; 
justify-self: center; 
align-items: center; 
text-align: center; 
box-sizing: border-box;
}

/*Mint-Button*/
.connect-button:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.div {
  box-sizing: border-box;
}

.connected-button{ 
font-family: "Caribbean";
font-size: 30px;
text-shadow: 3px 3px black;
}

.mint-button{ 
  width: 300px;
 }

.mint-button:hover {
  transform: scale(0.95);
  cursor: pointer;
}

/*Round Button*/
.round-button{

  font-weight: bold;
  font-size: 75px;
  color: black;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-button:active{
  transform: scale(0.95);
}

/*socials*/

.tw:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.os:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.etherscan:hover {
  transform: scale(0.95);
  cursor: pointer;
}

/**Textbox**/

.textbox{
  transform: rotate(-10deg);
  position: relative;
  top: 50%;
  right: 15%;
  width: 1000px;
}


/**Home**/

.mint-ref {
  font-family: "Caribbean";
  font-size: 25px;
  padding: 15px;
  border-radius: 70px;
  border: 4px solid #000000;
  background-color: none;
  padding: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  width: 180px;
  cursor: pointer;
  margin-top: 30px;
}

.header {
  position: absolute;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  top: 5vh;
}

.lagune {
  color: rgb(255, 255, 255);
  font-family: Caribbean;
  font-size: 10em;
  width: 80%;
}

.ocean-box {
  position: absolute;
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 103vh;
  top: 107vw;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 50px);
}

.mint-text {
  position: absolute;
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 103vh;
  top: 172vw;
}

.mint-section {
  position: absolute;
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  top: 172vw;
}



/**Killer in Ocean**/
